/* radio button */
.custom-draw .form__radio-input {
    display: none;
  }
  
  .custom-draw .form__label-radio {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 21px;
  }
  
  .custom-draw .form__radio-button {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;
  }
  .custom-draw .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .custom-draw .form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
    opacity: 1;
  }
  

  /* table */
  .custom-draw table {
    border-collapse: collapse;
    width: 100%;
  }
  .custom-draw th, td {
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  .custom-draw th {
    font-weight: normal;
    font-size: .875rem;
    color: #666;
    background: #eee;
    position: sticky;
    top: 0;
  }
  

  @media(max-width: 500px) {
    .heading {
      display: none;
    }
    td {
      display: block;
    }
    .car-name {
      background: #eee;
    }
  }
  

/* modal */

  
.custom-draw .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
 
  
  .custom-draw .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .custom-draw .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }