.custom-image-text-right {
    /* max-width: 1440px; */
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: end;
}
.custom-image-text-right .left-item {
    padding: 100px 20px;
    width: 100%;
    max-width: 620px;
}
.custom-image-text-right .right-item {
    width: 50%;
}
.custom-image-text-right .right-item img{
    visibility: visible;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom-image-text-right .left-item .title {
    font-size: 48px;
    margin-bottom: 33px;
    font-family: Otufit, sans-serif;
    line-height: 1.05;
    font-weight: 500;   
    max-width: 510px;
}
.custom-image-text-right .left-item .image-text-item {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin-bottom: 20px;
}
.custom-image-text-right .left-item .content-text .content-title {
    font-size: 20px;
    font-weight: 700;
}

@media(max-width:746px) {
    .custom-image-text-right .left-item {
        padding: 40px 20px;
    }
    .custom-image-text-right {
        display: flex;
        flex-direction: column-reverse;
    }
    .custom-image-text-right .left-item .title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 33px;
    }
    .custom-image-text-right .left-item .image-text-item {
        width: 100%;
        grid-template-columns: 1fr 3fr;
        margin-bottom: 40px;
    }
    .custom-image-text-right .right-item {
        width: 100%;
    }


}