.collection-product .card__information .product-form__input {
    display: none;
}

.collection-product .media>*:not(.zoom):not(.deferred-media__poster-button), .media .model-viewer {
    position: unset;
    object-fit: contain;
    height: unset;
    width: unset;

}
.collection-product .card__media .media img {
    height: unset;
    object-fit: unset;
}
.collection-product .button {
    --border-offset: unset;
}
.collection-product .media--hover-effect img {
    width: 140px !important;
}
.collection-product .description .image img{
    width: 100%;
    object-fit: contain;
  }
  .collection-product {
    background-color: #fff;
}
.collection-product .media--hover-effect {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
    height: 100%;
}
.collection-product .collection__title .h2{
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.collection-product .card-wrapper .card__inner {
    height: 350px;
}
.collection-product .card__badge.bottom {
    display: none;
}
 .collection-product .quick-add.no-js-hidden {
    position: absolute;
    bottom: 25%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
 }
 .collection-product .quick-add.no-js-hidden:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
 }
 .collection-product .quick-add.no-js-hidden button {
    background-color: #fff;
 }
 .collection-product .card-information {
    padding: 8px 0;
 }
.collection-product .card-information .discount {
    display: none;
}
.collection-product .card__information .card__heading {
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.collection-product .card-information {
    text-align: center;
}
.collection-product .card-information .price__sale .price-item--last {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #EC1578;
}
.collection-product .card__content .card-information .price__container .one-price {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #EC1578;
}
.collection-product .card__information .card-information .price__sale .price-item--regular {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.6;
}

.collection-product .card__content .product-form__input{
    text-align: center;
 }
.collection-product .slider-mobile-gutter .product-form__input .featured-custom-Color {
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
  }

.collection-product .slider-mobile-gutter .product-form__input .featured-custom-Color:hover, .collection-product .featured-custom-Color:focus-visible {
    box-shadow: 0px 0px 0px 6px #ffffff, 0px 0px 0px 7px #000000;
  }
.collection-product .collection__view-all a {
    background: pink;
    color: #000;
    text-transform: uppercase;
}