.custom-container {
    width: 100%;
}
.custom-container .product--medium .image-magnify-lightbox {
    object-fit: cover;
}
.custom-product {
    padding-right: 40px !important;
    background-color: #F6F5F3;
    display: flex;
    padding-top: 70px !important;
    justify-content: center;
    padding-bottom: 20px !important;
}
.custom-product .product__info-container {
  width: 80%;
}
.custom-product .product-popup-modal__opener {
  width: 100%;
  text-align: right;
  position: absolute;
  top: 40%;
}
.custom-product .product-popup-modal__opener .product-popup-modal__button{
  text-decoration: none;
  padding: 0;
}
.custom-product .vendor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.custom-product .vendor p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}
.custom-product .product__title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 0;
}
.custom-product .price__sale .price-item--sale {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #EC1578;
}
.custom-product .price__sale .price-item--regular {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.6;
}
.custom-product .price--on-sale .price__sale {
    display: flex;
    align-items: center;
}
.custom-product .price__sale .discount {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.custom-product .product__info-container .custom-color-swatch {
    width: 100%;
}
.custom-product .price--show-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-product .price--show-badge .price__container {
    margin: 0;
}
.custom-product .price--show-badge .price__badge-sale {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}
.custom-product .product-form__input .form__label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}
.custom-product .product__info-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.custom-product .custom-price-part {
    width: 100%;
}
.custom-product .product-form__quantity {
    width: 35%;
    flex: unset;
    min-width: unset;
}
.custom-product .but-button {
    width: 65%;
}
.custom-product .but-button .product-form{
    margin-top: 21px;
}
.custom-product .product__accordion {
    width: 100%;
}
.custom-product .product-form__quantity .quantity {
    color: rgba(var(--color-foreground));
    position: relative;
    width: 100%;
    display: flex;
    border-radius: var(--inputs-radius);
    min-height: calc((var(--inputs-border-width) * 2) + 4.5rem);
  }
  .custom-product .product-form__input .custom-Color {
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
  }
  .custom-product .product-form__input .custom-Size {
    width: 44px;
    height: 44px;
    border-radius: unset;
    padding: 15px;
    font-size: 12px;
    border-color: #F6F5F3;
    background-color: transparent !important;
    color: #000;
  }
  .custom-product .product-form__input .custom-Color:hover, .custom-product .custom-Color:focus-visible {
    box-shadow: 0px 0px 0px 6px #ffffff, 0px 0px 0px 7px #000000;
  }
  .custom-product .product-form__input .custom-Size:hover, .custom-product .custom-Size:focus-visible {
        border-color: #000;
  }
  .custom-product .product-form__input input[type=radio]:checked+label {
    color: #000;
    border-color: #000;
  }
  .custom-product .product-form__input {
    width: 35%;
    max-width: unset;
  }
  .custom-product .check-variant {
    width: 100%;
  }
  .custom-product .product-form__input .guid-text {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .custom-product .product-form__input .guid-text .guid-title {
    margin: 0;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #000000;
    cursor: pointer;
    width: 100%;
  }
  .custom-product .product-form__input:nth-child(1) .guid-text .guid-title {
    display: none;
  }

  /* radio button */
  .check_part {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
  }
  .check_part .country {
    width: 240px;
    height: 48px;
    padding: 10px;
  }
  .check_part .radio-btn .form__group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
  }
  .form__label-radio {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 21px;
  }
  
  .form__radio-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;
    box-shadow: 0px 0px 0px 6px #ffffff, 0px 0px 0px 7px #d2d2d2;
  }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
    opacity: 1;
    box-shadow: 0px 0px 0px 6px #ffffff, 0px 0px 0px 7px #000;
  }
  .custom-draw .form__radio-input {
    display: none;
  }
  
  .custom-draw .form__label-radio {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    display: flex;
    align-items: center;
  }
  
  .custom-draw .form__radio-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 6px;
  }
  .custom-draw .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .custom-draw .form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
    opacity: 1;
  }
  

  /* table */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  th {
    font-weight: normal;
    font-size: .875rem;
    color: #666;
    background: #eee;
    position: sticky;
    top: 0;
  }
  

  @media(max-width: 500px) {
    .heading {
      display: none;
    }
    td {
      display: block;
    }
    .car-name {
      background: #eee;
    }
  }
  

/* modal */

  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
 
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .custom-container .product--medium .slider-counter {
    display: none;
  }

  /* cart-draw */
.product-popup-modal__content {
  height: 100%;
  width: 40%;
  position: fixed;
  margin: 0;
  right: 0;
  left: unset;
  transform: unset;  
}

.custom-draw .title-wrapper .title h1 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.custom-draw .description .text h1 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #000000;

}
.custom-draw .description .text .des-text {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.custom-draw .description .image img{
  width: 100%;
  object-fit: contain;
}
.custom-draw .description{
  padding-top: 40px;
}





  /* radio button */
.custom-draw .form__radio-input {
 
}



/* table */
.custom-draw table {
  border-collapse: collapse;
  width: 100%;
}
.custom-draw th, td {
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.custom-draw th {
  font-weight: normal;
  font-size: .875rem;
  color: #666;
  background: #eee;
  position: sticky;
  top: 0;
}


@media(max-width: 500px) {
  .heading {
    display: none;
  }
  td {
    display: block;
  }
  .car-name {
    background: #eee;
  }
}


/* modal */


.custom-draw .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}



.custom-draw .sidenav a:hover {
  color: #f1f1f1;
}

.custom-draw .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.custom-product .product-form__input .custom-Size {
  border-color: #ddd;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media(max-width:746px) {
  .custom-product {
    padding-right: 0 !important;
  }
  .custom-product .product-popup-modal__opener {
    display: none;
  }
  .custom-product .product-form__input {
    width: 50%;
  }
  .custom-product .but-button {
    width: 50%;
  }
  .custom-product .product__title {
    text-align: center;
    font-size: 24px;
  }
  
}

#CartDrawer-CartItems {
  border-bottom: 1px solid #ddd;
}
#CartDrawer-ColumnProduct {
  padding: 10px;
}
#CartDrawer-ColumnTotal {
  padding: 10px;
}