
.custom-related .card__media .media--hover-effect {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.custom-related .related-products__heading {
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}
.custom-related .media--hover-effect img {
    width: 140px !important;
}
.custom-related .card-wrapper .card__inner {
    height: 350px;
}
.custom-related .card__badge.bottom {
    display: none;
}

.custom-related .card__information .card__heading {
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.custom-related .card-information {
    text-align: center;
    padding: 8px 0;
}
.custom-related .card-information .price-item--last {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #EC1578;
}
.custom-related .card__content .card-information .price__container .one-price {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #EC1578;
}
.custom-related .card-information .price__sale .price-item--regular {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.6;
}
.custom-related .card-information .discount {
    display: none;
}






.custom-related .media>*:not(.zoom):not(.deferred-media__poster-button), .media .model-viewer {
    position: unset;
    object-fit: contain;
    height: unset;
    width: unset;

}
.custom-related .card__media .media img {
    height: unset;
    object-fit: unset;
}


/* circle */
.custom-related .product-form__input {
    text-align: center;
}
.custom-related .product-form__input .custom-Color {
    font-size: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    margin: 0 2px;
  }


  .custom-related .product-form__input .custom-Color:hover, .custom-featured-collection .custom-Color:focus-visible {
    box-shadow: 0px 0px 0px 6px #ffffff, 0px 0px 0px 7px #000000;
  }

  .custom-related .product-form__input input[type=radio]:checked+label {
    color: #000;
  }

  @media(max-width:746px) {
    .custom-related .related-products__heading {
        font-size: 24px;
    }
    .custom-related .card__information .full-unstyled-link {
        min-height: 35px;
    }
  }